.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #242424;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}