.totalContainer {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd;
    font-size: 30px;

    span {
        font-weight: bold;
        margin-left: 5px;
    }
}

.keypadContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;

    div {
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: #e0e0e0;
        width: calc(33% - 10px);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        &:hover {
            background-color: #d5d5d5;
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

    button {
        width: 50%;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:first-child {
            background-color: #f44336;
            color: white;

            &:hover {
                background-color: #d32f2f;
            }
        }

        &:last-child {
            background-color: #4caf50;
            color: white;

            &:hover {
                background-color: #388e3c;
            }
        }
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.formItem {
    width: calc(50% - 10px);
}