.totalContainer {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    font-size: 30px;
    margin-top: 30px ;

    span {
        font-weight: bold;
        margin-left: 5px;
    }
}

.keypadContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;

    div {
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: rgba(0,0,0,0.05);
        width: calc(33% - 10px);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

    button {
        padding: 20px 60px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &:first-child {
            background-color: rgb(215, 107, 11);
            color: white;

         
        }

        &:last-child {
            background-color: rgba(53, 162, 235);
            color: white;

      
        }
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.formItem {
    width: calc(50% - 10px);
}