.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 70%;
    max-width: 720px;
    min-width: 120px;
    min-height: 500px;
    display: flex;
    padding: 20px;
    background: linear-gradient(90deg, #4d73f1, #0c2968);		
	position: relative;	
    border-radius: 20px;
	box-shadow: 0px 0px 24px #0000005a;
    
    
}

.formContainer {
    z-index: 1;
	position: relative;	
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    input {
        width: 80%;
        box-sizing: border-box;
        margin: 15px 0;
        border: none;
        border-bottom: 2px solid #777;
        padding: 8px;

        &:focus,
        &:active {
            outline: none;
            border: none;
            border-bottom: 2px solid #2d6df8;
            background-color: white;
            appearance: none;
        }

        ::placeholder {
            font-size: 16px;
            margin-left: 10px;
        }
    }

    h2 {
        color: white;
    }

    button {
        margin-top: 30px;
        display: block;
        padding: 10px 26px;
        border: none;
        color: #2d6df8;
        font-weight: bold;
        background: white;
        cursor: pointer;
        font-size: 16px;
        border-radius: 8px;

        &::hover {
            background: rgb(22, 22, 173);
        }
    }
}


.screenBackground {		
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);	

        span {
            transform: rotate(45deg);
            position: absolute;
        }
    }



    .screenBackgroundShape2 {
        transform: rotate(45deg);
        position: absolute;
        height: 220px;
        width: 220px;
        background: #0144af;	
        top: -172px;
        right: 0;	
        border-radius: 32px;
    }

    .screenBackgroundShape3 {
        transform: rotate(45deg);
        position: absolute;
        height: 540px;
        width: 190px;
        background: linear-gradient(270deg, #2d6df8, rgb(34, 93, 255));
        top: -24px;
        right: 0;	
        border-radius: 32px;
    }

    .screenBackgroundShape4 {
        height: 400px;
        width: 200px;
        background: #0138af;	
        top: 420px;
        right: 50px;	
        border-radius: 60px;
    }