.totalContainer {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    font-size: 30px;
    margin-top: 30px ;

    span {
        font-weight: bold;
        margin-left: 5px;
    }
}

.keypadContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;

    div {
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: rgba(0,0,0,0.05);
        width: calc(33% - 10px);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;

    button {
        padding: 16px 60px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;

        &:first-child {
            background-color: transparent;
            color: rgb(79, 79, 79);
        }

        &:last-child {
            background-color: rgba(53, 162, 235);
            color: white;
            width: 100%;
      
        }
    }
}

.buttonDelete {
    background-color: rgb(235, 53, 53) !important;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
}

.formItem {
    width: 100%;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: rgb(91, 91, 91);
    
    img {
        width: 24px;
        height: 24px;
    }
}