.balance {
    background-color: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

    h4 {
        margin: 0;
    }
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px;

    button {
        width: 50%;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        background-color: #e0f7fa;
        color: #006064;
        cursor: pointer;
    }

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
        opacity: 0.7;
        font-size: 14px;
    }
}

.transactions {
    margin-top: 30px;

    h3 {
        margin-bottom: 20px;
    }
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    h4, p {
        margin: 0;
    }

    .descriptions {
        flex: 1;
    }

    .income {
        font-weight: bold;
    }
}

