.balance {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;

    h4, p {
        margin: 0;
        font-weight: 300;
    }

    
    span {
        font-size: 26px;
        font-weight: bold;
    }

    .flex {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

  

        span {
            font-size: 16px;
            font-weight: 300;
        }
    }
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px;

    a {
        width: 50%;
        text-align: center;
        text-decoration: none;

        button {
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            color: white;  
            font-weight: bold;
            cursor: pointer;
            border: 0px;
        }

        .expense {
            background-color:rgb(215, 107, 11);
        }

        .income {
            background-color:rgb(53, 162, 235);
            
        }
    }

}



.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
        opacity: 0.7;
        font-size: 14px;
    }
}

.transactions {
    margin-top: 30px;

    h3 {
        margin-bottom: 20px;
    }
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;
    text-decoration: none;
    color: black;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    h4, p {
        margin: 0;
    }

    .descriptions {
        flex: 1;
    }

    .income {
        font-weight: bold;
    }
}

.seeMore {
    cursor: pointer;
    text-align: center;
    margin: 50px auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: 0px;
    text-decoration: underline;
    font-size: 16px;
}