.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    border: 1px solid red;
    
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    img {
        width: 60px;
    }
}